.blog-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* One column by default */
    gap: 20px; /* Adjust the gap between cards */
  }
  
  @media (min-width: 768px) {
    /* On screens larger than 768px, switch to two columns */
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .blog-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    background-color: #a7da87cb;
    text-align: left;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    cursor: pointer;
  }
  
  .blog-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .paginate{  
    /* position: fixed;
    bottom: 0; */
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20%;
  }

  /* Add a CSS loader animation */
.loader {
  border: 4px solid #93B1A6;
  border-top: 4px solid #183D3D;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  margin: 20% auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Style the pagination container */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

/* Style the individual pagination items (page numbers, previous, and next) */
.pagination li a {
  margin: 0 5px;
  padding: 5px 10px;
  background-color: #93B1A6;
  color: #000000;
  cursor: pointer;
  user-select: none;
  text-decoration: none;
}

 

/* Style the active pagination item */
.pagination li.active a {
  background-color: #183D3D;
  color: #fff;
}


/* Style the blog-details section */
.blog-details {
  padding: 20px;
  margin: 10px;
  text-align: left;
}

/* Style the Back button */
.back-button {
  background-color: #93B1A6;
  color: #000000;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 10px;
}

.blog-details h1 {
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 75px;
}

.blog-details p {
  margin: 0;
  font-size: 24px;
}

/* Style the author name in the details view */
.blog-details p.author {
  margin-top: 10px;
}

/* Style the overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9999;
  cursor: not-allowed;
}

