.blog-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0;
  }
  
  .grid-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr); /* One column by default */
    gap: 20px; /* Adjust the gap between cards */
  }
  
  @media (min-width: 768px) {
    /* On screens larger than 768px, switch to two columns */
    .grid-container {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  .blog-card {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    background-color: #fff;
    text-align: left;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
  }
  
  .blog-card:hover {
    background-color: #a7da87cb;
    transform: translateY(-5px); /* Move the card up slightly on hover */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle box shadow */
  }
  
  .paginate{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
  }

  /* Add a CSS loader animation */
.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
  margin: 0 auto;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}


/* Style the pagination container */
.pagination {
  display: flex;
  justify-content: center;
  list-style: none;
}

/* Style the individual pagination items (page numbers, previous, and next) */
.pagination li {
  margin: 0 5px;
  padding: 5px 10px;
  border: 1px solid #000000;
  background-color: #fff;
  cursor: pointer;
  user-select: none;
}

/* Style the active pagination item */
.pagination li.active {
  background-color: #007bff; /* Change this to the desired active color */
  color: #fff; /* Change the text color for the active item */
  border-color: #007bff; /* Change the border color for the active item */
}
